<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Artifolio</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="~/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="~/icomoon/icomoon.css">
  <link rel="stylesheet" type="text/css" media="all"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="~/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="~/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <!-- script
    ================================================== -->
  <script src="~/js/modernizr.js"></script>
</head>

<body>

  <div class="preloader-wrapper">
    <div class="preloader">
    </div>
  </div>

  <div class="search-popup">
    <div class="search-popup-container">

      <form role="search" method="get" class="search-form" action="">
        <input type="search" id="search-form" class="search-field" placeholder="Type and press enter" value=""
          name="s" />
        <button type="submit" class="search-submit"><a href="#"><i class="icon icon-search"></i></a></button>
      </form>

      <h5 class="cat-list-title">Browse Categories</h5>

      <ul class="cat-list">
        <li class="cat-list-item">
          <a href="#" title="Men Jackets">Men Jackets</a>
        </li>
        <li class="cat-list-item">
          <a href="shop.html" title="Fashion">Fashion</a>
        </li>
        <li class="cat-list-item">
          <a href="shop.html" title="Casual Wears">Casual Wears</a>
        </li>
        <li class="cat-list-item">
          <a href="shop.html" title="Women">Women</a>
        </li>
        <li class="cat-list-item">
          <a href="shop.html" title="Trending">Trending</a>
        </li>
        <li class="cat-list-item">
          <a href="shop.html" title="Hoodie">Hoodie</a>
        </li>
        <li class="cat-list-item">
          <a href="shop.html" title="Kids">Kids</a>
        </li>
      </ul>
    </div>
  </div>
  <header id="header">
    <div id="header-wrap">
      <nav class="primary-nav padding-small">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-lg-4 col-md-4">
              <div class="main-logo">
                <a href="index.html">
                  <img src="~/images/logo.png" alt="logo">
                </a>
              </div>
            </div>
            <div class="col-lg-10 col-md-10">
              <div class="navbar">

                <div id="main-nav" class="stellarnav d-flex justify-content-end right">
                  <ul class="menu-list">

                    <li class="menu-item has-sub">
                      <a asp-action="" class="item-anchor active d-flex align-item-center" data-effect="Home">Inicio</a>
                    </li>
                    <li class="menu-item has-sub">
                      <li><a href="#sobre_Nós" class="item-anchor" data-effect="About">Sobre</a> </li>
                    </li>

                    <li class="menu-item has-sub">
                      <a href="#Em_Alta" class="item-anchor d-flex align-item-center" data-effect="Shop">Em Alta</a>

                    </li>

                    <li class="menu-item has-sub">
                      <a href="#Artes_page" class="item-anchor d-flex align-item-center" data-effect="Pages">Artes</a>

                    </li 
                    <li class="menu-item has-sub">
                      <li><a href="#contato" class="item-anchor" data-effect="Contact">Contato</a></li>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <main>
    @RenderBody()
  </main>
   <footer>
        <div class="footer-container"> 
            <div class="about-us">
                <h2 id=sobre_Nós>Sobre Nós</h2>
                <p>Somos ArtFolio visando a ajudar a comunidade artistica, que o nosso site seja uma luz no vasto campo da arte digital, inspirando e encantando todos aqueles que o visitam. Que nosso site seja uma ajuda para os artistas, que vocês sejam felizes espaplhando e fazendo o que amam, atenciosamente time ArtFolio!</p>
            </div>
            <div class="contact">
                <h2 id=contato>Contato</h2>
                <p>Número de contato: (14) 1234-5678</p>
                <p>Email: Artfolio@Artfolio.com</p>
                <p>Endereço: Rua da arte, 0804 - Barra Bonita, São Paulo, CEP 1234-567</p>
            </div>
        </div>
    </footer>
  <script src="~/js/jquery-1.11.0.min.js"></script>
  <script src="~/js/plugins.js"></script>
  <script src="~/js/script.js"></script>
</body>

</html>